{% extends "base.html" %}
{% load static %}
<style>
    .container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
    {% block content %}
        The Pokémon Center is a rare place for fans. In addition to game software and card games, 
        the store also has a wide range of original products from toys to stationery, T-shirts and snacks. 
        Just walking around in the store can make people cheer.
    {% endblock %}
</body>