{% extends "base.html" %}
{% load static %}
<style>
    .container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
    {% block content %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <form action="logout" method="get">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <br>
        <table class="table table-warning">
            <tr>
                <td><img src='{{ image }}' width='60' height='60' align='right'><br></td>
                <td><h2>Welcome {{ username }}!!</h2></td>
            </tr>
        </table>
        <img src='{% static 'homepage.jpg' %}' width="1050" height="500" style="text-align:center;">
        <br><br>
        <form action="products" method="get">
            <button type="submit" class="btn btn-primary">View all products</button>
        </form>
    {% endblock %}
</body>